@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #2ecc71;
  --second-color: #fff;
  --bg-color: #000;
  --h2-font: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  
}

/* Estilos da seção home */
#home {
  background: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  background: url(img/dark-theme.jpg) center center/ cover no-repeat;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 3.5rem;
}

.nav-container {
  display: flex;
  gap: 3rem;
  font-weight: 400;
  cursor: pointer;
}

.nav-container a {
  color: #fff;
  font-size: 20px;
}

.nav-container a:hover {
  color: #2ecc71;
  transition: 0.3s all;
}

.logo h2 {
  color: #fff;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
}

.btn2 {
  color: #2ecc71;
  background: transparent;
  border: 1px solid #2ecc71;
  padding: 5px;
  margin-top: 25px;
  font-size: 20px;
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
}

.btn2:hover {
  background-color: #2ecc71;
  color: #fff;
  transition: 0.5s;
}

.container-text {
  padding: 200px 0 0 130px;
}

.text h3 {
  color: #fff;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: -33px;
}

.text h1 {
  font-size: 35px;
  color: #fff;
  margin-top: 25px;
}

.text span,
.logo h2 span {
  color: #2ecc71;
}

.text p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
  
}

.redes-sociais a {
  color: #2ecc71;
  font-size: 25px;
  padding: 20px;
}

.redes-sociais a i {
  margin-top: 20px;
}


/* Portfolio section */
.portfolio {
  text-align: center;
  background-color: #000000db;
  color: #fff;
  padding: 2.5rem 2rem 1rem 2rem;
}

.portfolio h1 {
  padding-top: 2rem;
  margin-bottom: -5px;
  font-size: 30px;
}

.portfolio .portfolio-projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 5rem;
}

.portfolio .portfolio-item {
  text-align: center;
  width: calc(25% - 20px);
}

.portfolio .portfolio-item h2 {
  margin-top: 0;
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.portfolio .portfolio-item h2 span {
  color: #2ecc71;
  font-weight: bold;
}

.portfolio .portfolio-item .image-wrapper {
  margin-bottom: 10px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-item .image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #2ecc71;
}

.portfolio .portfolio-item .image-wrapper p {
  padding-top: 10px;
}

.portfolio .portfolio-item .image-wrapper p a {
  color: #2ecc71;
  background: transparent;
  border: 1px solid #2ecc71;
  padding: 5px 7px;
  margin: 7px;
  border-radius: 15px;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}

.portfolio .portfolio-item .image-wrapper p a:hover {
  background-color: #2ecc71;
  color: #fff;
  transition: 0.5s;
}

.button-wrapper {
  margin-top: 60px; /* Aumenta o espaçamento entre os botões e o conteúdo */
  display: flex;
  justify-content: center;
}

.custom-button {
  padding: 10px; /* Aumenta o padding dos botões */
  margin: 5px;
  background-color: transparent;
  color: #4CAF50;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 40px; /* Aumenta o tamanho das setas */
}

.custom-button:hover {
  background-color: transparent;
}

.custom-button:focus {
  outline: none;
}

.prev::before,
.next::before {
  font-size: 60px; /* Aumenta o tamanho das setas */
  margin: 0;
}

.prev::before {
  content: '\2039'; /* Define a seta de navegação para a esquerda */
}

.next::before {
  content: '\203A'; /* Define a seta de navegação para a direita */
}



/*projetos-pessoais */
#projetos-pessoais {
  text-align: center;
  background-color: #000000ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  overflow: hidden;
}

#projetos-pessoais h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 30px;
}

#projetos-pessoais span {
  color: #2ecc71;
}

p{
  color: white;
  font-size: 25px;
}

#projetos-pessoais .portfolio-pessoal {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 20px;
  padding: 0 10%;
  scroll-behavior: smooth;
}

#projetos-pessoais .meu-portfolio {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
}

#projetos-pessoais .img-pessoal {
  text-align: center;
  width: 350px;
  height: 350px;
  border: 5px solid #2ecc71;
  padding: 0px;
  box-sizing: border-box;
}

#projetos-pessoais .img-pessoal img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

#projetos-pessoais .img-pessoal p {
  padding: 15px;
}

#projetos-pessoais .img-pessoal p a {
  color: #2ecc71;
  background: transparent;
  border: 1px solid #2ecc71;
  padding: 7px 7px;
  margin: 7px;
  border-radius: 15px;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}

#projetos-pessoais .img-pessoal p a:hover {
  background-color: #2ecc71;
  color: #fff;
  transition: 0.5s;
}

#projetos-pessoais .btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  gap: 10px;
}

#projetos-pessoais .custom-btn {
  padding: 20px;
  margin: 5px;
  background-color: transparent;
  color: #4CAF50;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 50px;
  border-radius: 50%;
}

#projetos-pessoais .custom-btn:hover {
  color: white;
}

/*Meus trabalhos*/

#meus-trabalhos {
  text-align: center;
  background-color: #000000ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  overflow: hidden;
}

#meus-trabalhos h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 30px;
}

#meus-trabalhos span {
  color: #2ecc71;
}

p {
  color: white;
  font-size: 25px;
}

#meus-trabalhos .portfolio-trabalho {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 20px;
  padding: 0 10%;
  scroll-behavior: smooth;
}

#meus-trabalhos .tra-portfolio {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
}

#meus-trabalhos .img-tra {
  text-align: center;
  width: 350px;
  height: 350px;
  border: 5px solid #2ecc71;
  padding: 0px;
  box-sizing: border-box;
}

#meus-trabalhos .img-tra img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

#meus-trabalhos .img-tra p {
  padding: 15px;
}

#meus-trabalhos .img-tra p a {
  color: #2ecc71;
  background: transparent;
  border: 1px solid #2ecc71;
  padding: 7px 7px;
  margin: 7px;
  border-radius: 15px;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}

#meus-trabalhos .img-tra p a:hover {
  background-color: #2ecc71;
  color: #fff;
  transition: 0.5s;
}

#meus-trabalhos .btns-tra {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  gap: 10px;
}

#meus-trabalhos .custom-btn {
  padding: 20px;
  margin: 5px;
  background-color: transparent;
  color: #4CAF50;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 50px;
  border-radius: 50%;
}

#meus-trabalhos .custom-btn:hover {
  color: white;
}


/* Sections */

@media screen and (max-width: 768px) {
  .container-text {
    padding: 50px;
  }

  .text h3 {
    font-size: 24px;
  }

  .text h1 {
    font-size: 32px;
  }

  .text p {
    font-size: 14px;
  }

  .redes-sociais a {
    font-size: 24px;
  }

  .btn2 {
    padding: 8px 16px;
    font-size: 14px;
  }

  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .container-text {
    padding: 25px;
  }

  .text h3 {
    font-size: 20px;
  }

  .text h1 {
    font-size: 24px;
  }

  .text p {
    font-size: 12px;
  }

  .redes-sociais a {
    font-size: 20px;
  }

  .btn2 {
    padding: 6px 12px;
    font-size: 12px;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }

  #button-wrapper {
    flex-direction: column;
  }

  .custom-button {
    margin: 0.5rem 0;
  }
}
