@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #2ecc71;
  --second-color: #fff;
  --bg-color: #000;
  --h2-font: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  
}

/* Estilos da seção home */
#home {
  background: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  background: url(img/dark-theme.jpg) center center/ cover no-repeat;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 3.5rem;
}

.nav-container {
  display: flex;
  gap: 3rem;
  font-weight: 400;
  cursor: pointer;
}

.nav-container a {
  color: #fff;
  font-size: 20px;
}

.nav-container a:hover {
  color: #2ecc71;
  transition: 0.3s all;
}

.logo h2 {
  color: #fff;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
}

.btn2 {
  color: #2ecc71;
  background: transparent;
  border: 1px solid #2ecc71;
  padding: 5px;
  margin-top: 25px;
  font-size: 20px;
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
}

.btn2:hover {
  background-color: #2ecc71;
  color: #fff;
  transition: 0.5s;
}

.container-text {
  padding: 200px 0 0 130px;
}

.text h3 {
  color: #fff;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: -33px;
}

.text h1 {
  font-size: 35px;
  color: #fff;
  margin-top: 25px;
}

.text span,
.logo h2 span {
  color: #2ecc71;
}

.text p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
  
}

.redes-sociais a {
  color: #2ecc71;
  font-size: 25px;
  padding: 20px;
}

.redes-sociais a i {
  margin-top: 20px;
}


/* Portfolio section */
.portfolio {
  text-align: center;
  background-color: #000000db;
  color: #fff;
  padding: 2.5rem 2rem 1rem 2rem;
}

.portfolio h1 {
  padding-top: 2rem;
  margin-bottom: -5px;
  font-size: 30px;
}

.portfolio .portfolio-projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 5rem;
}

.portfolio .portfolio-item {
  text-align: center;
  width: calc(25% - 20px);
}

.portfolio .portfolio-item h2 {
  margin-top: 0;
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.portfolio .portfolio-item h2 span {
  color: #2ecc71;
  font-weight: bold;
}

.portfolio .portfolio-item .image-wrapper {
  margin-bottom: 10px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-item .image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #2ecc71;
}

.portfolio .portfolio-item .image-wrapper p {
  padding-top: 10px;
}

.portfolio .portfolio-item .image-wrapper p a {
  color: #2ecc71;
  background: transparent;
  border: 1px solid #2ecc71;
  padding: 5px 7px;
  margin: 7px;
  border-radius: 15px;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}

.portfolio .portfolio-item .image-wrapper p a:hover {
  background-color: #2ecc71;
  color: #fff;
  transition: 0.5s;
}

.button-wrapper {
  margin-top: 60px; /* Aumenta o espaçamento entre os botões e o conteúdo */
  display: flex;
  justify-content: center;
}

.custom-button {
  padding: 10px; /* Aumenta o padding dos botões */
  margin: 5px;
  background-color: transparent;
  color: #4CAF50;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 40px; /* Aumenta o tamanho das setas */
}

.custom-button:hover {
  background-color: transparent;
}

.custom-button:focus {
  outline: none;
}

.prev::before,
.next::before {
  font-size: 60px; /* Aumenta o tamanho das setas */
  margin: 0;
}

.prev::before {
  content: '\2039'; /* Define a seta de navegação para a esquerda */
}

.next::before {
  content: '\203A'; /* Define a seta de navegação para a direita */
}



/*projetos-pessoais */
#projetos-pessoais {
  /* Define a seção de projetos pessoais */
  text-align: center; /* Centraliza o texto */
  background-color: #000000ce; /* Define a cor de fundo */
  display: flex; /* Usa layout flexbox */
  flex-direction: column; /* Alinha os elementos verticalmente */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  padding: 5rem 4rem;
}

#projetos-pessoais h1 {
  /* Estiliza o título dentro da seção */
  margin-top: 1rem; /* Define uma margem superior de 2rem */
  margin-bottom: 2rem; /* Define uma margem inferior de 1rem */
  color: #fff; /* Define a cor do texto como branco */
  font-size: 30px; /* Define o tamanho da fonte como 30 pixels */
}

#projetos-pessoais span{
  color: #2ecc71;
}

#projetos-pessoais .portfolio-pessoal {
  /* Define o container para as divs de portfólio pessoal */
  width: 100%; /* Define a largura como 100% */
  overflow: hidden; /* Esconde o conteúdo que transborda */
  display: flex; /* Usa layout flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 20px; /* Define um espaçamento de 20 pixels entre as divs */
  padding: 0 5rem; /* Define um preenchimento de 0 no topo e na base e 5rem nas laterais */
}

#projetos-pessoais .meu-portfolio {
  /* Define o container para as divs individuais de portfólio */
  width: calc((350px + 25px) * 4); /* Calcula a largura total das 4 divs com espaçamento */
  display: flex; /* Usa layout flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  margin: 0 auto; /* Centraliza as divs com margens laterais */
  transition: transform 0.3s ease; /* Adiciona uma transição suave ao transformar as divs */
}

#projetos-pessoais .img-pessoal {
  /* Estiliza as divs individuais de imagem pessoal */
  text-align: center; /* Centraliza o conteúdo */
  width: 350px; /* Define a largura como 350 pixels */
  height: 350px; /* Define a altura como 350 pixels */
  border: 5px solid #2ecc71; /* Adiciona uma borda sólida de 5 pixels na cor verde */
  padding: 0px; /* Define um preenchimento interno de 0 pixels */
  box-sizing: border-box; /* Inclui a borda no cálculo do tamanho total */
  margin-right: 20px; /* Define uma margem direita de 20 pixels */
}

#projetos-pessoais .img-pessoal:last-child {
  margin-right: 0; /* Remove a margem direita da última div */
}



#projetos-pessoais .img-pessoal img {
  /* Estiliza as imagens dentro das divs de imagem pessoal */
  width: 100%; /* Define a largura como 100% do container */
  height: 80%; /* Define a altura como 100% do container */
  object-fit: cover; /* Ajusta a imagem para preencher o container mantendo a proporção */
}

#projetos-pessoais .img-pessoal p a {
  /* Estiliza os links abaixo das imagens */
  color: #2ecc71; /* Define a cor do texto como verde */
  background: transparent; /* Define o plano de fundo como transparente */
  border: 1px solid #2ecc71; /* Adiciona uma borda sólida de 1 pixel na cor verde */
  padding: 7px 7px; /* Define um preenchimento interno de 7 pixels na vertical e na horizontal */
  margin: 7px; /* Define uma margem de 7 pixels em todas as direções */
  border-radius: 15px; /* Adiciona um arredondamento de borda de 15 pixels */
  font-size: 16px; /* Define o tamanho da fonte como 16 pixels */
  width: 150px; /* Define a largura como 150 pixels */
  cursor: pointer; /* Altera o cursor para o estilo de ponteiro */
}

#projetos-pessoais .img-pessoal p a:hover {
  /* Estiliza os links abaixo das imagens quando hover */
  background-color: #2ecc71; /* Define a cor de fundo como verde */
  color: #fff; /* Define a cor do texto como branco */
  transition: 0.5s; /* Adiciona uma transição suave de 0.5 segundos */
}


#projetos-pessoais .btns {
  /* Estiliza o container para os botões */
  display: flex; /* Usa layout flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 10px; /* Define uma margem superior de 10 pixels */
  padding-bottom: 10px; /* Define um preenchimento inferior de 10 pixels */
  width: 100%; /* Define a largura como 100% */
  gap: 10px; /* Define um espaçamento de 10 pixels entre os botões */
}

#projetos-pessoais .custom-btn {
  /* Estiliza os botões personalizados */
  padding: 5px; /* Define um preenchimento interno de 5 pixels */
  margin: 2px; /* Define uma margem de 2 pixels em todas as direções */
  background-color: transparent; /* Define o plano de fundo como transparente */
  color: #4CAF50; /* Define a cor do texto como verde */
  border: none; /* Remove a borda */
  cursor: pointer; /* Altera o cursor para o estilo de ponteiro */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave à cor de fundo */
  font-size: 16px; /* Define o tamanho da fonte como 16 pixels */
  margin-top: 5px; /* Define uma margem superior de 5 pixels */
}

#projetos-pessoais .custom-btn:hover {
  /* Estiliza os botões personalizados quando hover */
  background-color: transparent; /* Mantém o plano de fundo como transparente */
}

#projetos-pessoais .custom-btn:focus {
  /* Estiliza os botões personalizados quando focados */
  outline: none; /* Remove o contorno ao focar */
}

#projetos-pessoais .prev::before,
#projetos-pessoais .next::before {
  /* Estiliza os pseudo-elementos ::before dos botões de navegação */
  content: '\2039'; /* Adiciona a seta para a esquerda */
  font-size: 70px; /* Define o tamanho da fonte como 70 pixels */
  margin-right: 10px; /* Define uma margem à direita de 10 pixels */
}

#projetos-pessoais .next::before {
  /* Estiliza o pseudo-elemento ::before do botão de próxima */
  content: '\203A'; /* Adiciona a seta para a direita */
}


/* Sections */

@media screen and (max-width: 768px) {
  .container-text {
    padding: 50px;
  }

  .text h3 {
    font-size: 24px;
  }

  .text h1 {
    font-size: 32px;
  }

  .text p {
    font-size: 14px;
  }

  .redes-sociais a {
    font-size: 24px;
  }

  .btn2 {
    padding: 8px 16px;
    font-size: 14px;
  }

  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .container-text {
    padding: 25px;
  }

  .text h3 {
    font-size: 20px;
  }

  .text h1 {
    font-size: 24px;
  }

  .text p {
    font-size: 12px;
  }

  .redes-sociais a {
    font-size: 20px;
  }

  .btn2 {
    padding: 6px 12px;
    font-size: 12px;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }

  #button-wrapper {
    flex-direction: column;
  }

  .custom-button {
    margin: 0.5rem 0;
  }
}
