@charset "UTF-8";

/* CSS Variables */
:root {
  --bg-color: #ffffff;
  --main-color: #4CAF50;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --text-color: #333;
  --font-size-small: 12px;
  --font-size-medium: 18px;
  --font-size-large: 23px;
}

/* General Styles */
#sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background: #1a1a1a;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
}

#sidebar.active {
  right: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

#closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}


/* Media Queries */
@media screen and (max-width: 500px) {
  .nav-container {
    display: none;
  }

  .hamburger {
    display: block;
    margin-right: -3rem;
  }

  .logo {
    margin-left: -3rem;
  }

  .container-text {
    padding: 8rem 2rem ;
    text-align: center;
  }

  .portfolio .portfolio-item {
    width: 50%;
  }

  .portfolio .portfolio-projetos {
    padding: 1rem;
  }
  .portfolio .portfolio-item h2{
    font-size: 1.1rem;
  }

  .button-wrapper {
    margin-top: 1rem;
  }

  .custom-button {
    font-size: 24px;
    margin: 1rem 1rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .nav-container a {
    font-size: var(--font-size-small);
    margin: 0.5rem;
    padding: 0.1rem;
  }

  .logo h2 {
    font-size: var(--font-size-medium);
  }

  .container-text {
    padding: 8rem 2rem;
  }


  .redes-sociais a {
    font-size: var(--font-size-medium);
  }

  .saber-mais {
    font-size: var(--font-size-medium);
  }

  .portfolio h1 {
    font-size: var(--font-size-large);
  }

  .portfolio .portfolio-item {
    width: 100%;
  }


  .portfolio .portfolio-item h2 {
    font-size: var(--font-size-medium);
  }

  .portfolio .portfolio-item .image-wrapper p {
    font-size: var(--font-size-medium);
  }

  
}

@media (min-width: 769px) and (max-width: 991px) {
  .nav-container a {
    font-size: var(--font-size-medium);
    margin: 0.5rem;
    padding: 0.1rem;
  }

  .logo h2 {
    font-size: var(--font-size-large);
  }

  .container-text {
    padding: 8rem 2rem;
  }


  .redes-sociais a {
    font-size: var(--font-size-medium);
  }

  .saber-mais {
    font-size: var(--font-size-medium);
  }

  .portfolio h1 {
    font-size: var(--font-size-large);
  }

  .portfolio .portfolio-item {
    width: 100%;
  }


  .portfolio .portfolio-item h2 {
    font-size: var(--font-size-medium);
  }

  .portfolio .portfolio-item .image-wrapper p {
    font-size: var(--font-size-medium);
  }
}

@media (min-width: 992px) {
  .portfolio .portfolio-item h2{
    font-size: 1rem;
  }

}