@charset "UTF-8";

/* CSS Variables */
:root {
  --bg-color: #ffffff;
  --main-color: #4CAF50;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --text-color: #333;
  --font-size-small: 12px;
  --font-size-medium: 18px;
  --font-size-large: 23px;
}

/* General Styles */
.nav-container {
  display: flex;
  gap: 1rem;
}

.hamburger {
  display: none;
  color: var(--main-color);
  font-size: 1.4rem;
  cursor: pointer;
}

.logo {
  margin-left: -3rem;
}

.container-text {
  padding-top: 13rem;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background-color: var(--bg-color);
  transition: left 0.3s ease;
  z-index: 9999;
  overflow-y: auto;
  box-shadow: var(--shadow);
}

#sidebar.active {
  left: 0;
}

#sidebar ul {
  list-style: none;
  padding: 1.25rem;
  margin-top: 3.125rem;
}

#sidebar ul li {
  margin-bottom: 0.625rem;
}

#sidebar ul li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

#sidebar ul li a:hover {
  color: var(--bg-color);
  background-color: var(--main-color);
}

#sidebar a.active {
  color: var(--main-color);
}

#closeButton {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #999;
  transition: color 0.3s ease;
}

#closeButton:hover {
  color: var(--text-color);
}

.portfolio .portfolio-item {
  width: 100%;
  padding: 0 10px;
}

.portfolio .portfolio-projetos {
  padding: 2rem;
}

.button-wrapper {
  margin-top: 50px;
}

.custom-button {
  padding: 0 15px;
  margin: 4rem 1rem;
  font-size: 40px;
}

.prev::before,
.next::before {
  font-size: 40px;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .nav-container {
    display: none;
  }

  .hamburger {
    display: block;
    margin-right: -3rem;
  }

  .logo {
    margin-left: -3rem;
  }

  .container-text {
    padding-top: 13rem;
  }

  .portfolio .portfolio-item {
    width: 50%;
  }

  .portfolio .portfolio-projetos {
    padding: 1rem;
  }

  .button-wrapper {
    margin-top: 1rem;
  }

  .custom-button {
    margin: 2rem 1rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .nav-container a {
    font-size: var(--font-size-small);
    gap: 0;
    margin: 0.5rem;
    padding: 0.1rem;
  }

  .logo h2 {
    font-size: var(--font-size-small);
  }

  .text h3 {
    font-size: var(--font-size-large);
    padding-bottom: 0.2rem;
  }

  .text h1 {
    font-size: var(--font-size-medium);
  }

  .text p {
    font-size: var(--font-size-small);
  }

  .redes-sociais a {
    font-size: var(--font-size-medium);
  }

  .saber-mais {
    font-size: var(--font-size-medium);
  }

  .portfolio h1 {
    font-size: var(--font-size-large);
  }

  .portfolio .portfolio-item h2 {
    font-size: var(--font-size-medium);
  }

  .portfolio .portfolio-item .image-wrapper p {
    font-size: var(--font-size-medium);
  }

  
}